/* BlakDownloader 3.7.5 - Tu8 [ Public Edition ] */ 

hr {
	height: 1px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-left-width: 0px;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	border-bottom-width: 0px;
	background-color: #4A4A4A;
	color: #4A4A4A;
}

img { border: 0; }

body {
	font-family: "Segoe UI", Tahoma, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #000000;
        background:url(http://s15.postimg.org/ndlmx6hx7/image.jpg);
	margin: 0px;
	padding: 0px;
}
.showlistlink {
	background:url(bglist.png);
	height:100%;
	width:100%;
	color:#FFFFFF;
	font-size:16px;
	position:fixed;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	display: none;
}

tr { font-family: "Segoe UI", Tahoma; font-size: 11px; line-height: 14.5px; color: #FFFFFF; }
input { font-family: "Segoe UI", Tahoma; font-size: 11px; }
select { font-family: "Segoe UI", Tahoma; font-size: 11px; }
textarea { font-family: "Segoe UI", Tahoma; font-size: 11.5px; }
a { color: #55aaff;  }
color { color: #FFFFFF; }

/*.show-table {display: block;}*/

.hide-table {display: none;}

.filelist a {
	text-decoration:none;
}
.filelist a:hover {
	text-decoration:underline;
}
.title {
	font-size: 18px;
	font-weight: bold;
}
.g {
	text-align:center;
	color:#00FF00;
}
.y {
	text-align:center;
	color:#FFFF00;
}
.r {
	text-align:center;
	color:#FF0000;
}
.n {
	text-align:center;
	color:blue;
}
.style1 {
	font-size: 12px;
	font-weight: bold;
}
.style2 {font-weight: bold}

.linkchecker-load{filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;}

.font-black {
	color:#000;
}

.font-blue {
	color:#05F;
}

.caption {
	font-family: Tahoma;
	font-size: 11px;
}

th {
	border-left: 1px solid white;
}

/*
** All previous inline-style classes **
*/


/*the file checkbox menu */
.chkmenu
{
	color: #99C9E6;
}

/* the files list table header */
.flisttblhdr
{
	background-color: #001B25;
	text-align: center;
	color: white;
}

.flisttblftr
{
	background-color: #001B25;
	color: white;
	text-align: center;
}

.ftpprogress
{
	background-color:#FFFFFF;
	margin:1px;
	width:0%;
	height:8px;
}



/* main.php */
.plugincolhd
{
	background-color:#657B87;
	color:#eee;
	padding:1px;
	width:102px;
	margin:1px auto 2px 1px;
}

.plugincollst
{
	color: #ccc;
}
.ServerFiles
{
	text-decoration: none;
	color: #FFFFFF;
}
.flistmouseon
{
	background-color: #F5A249;
	color: black;
}

.flistmouseoff
{
	background-color: #95BBE5;
	color: black;
}

.workswith
{
	text-align:center;
	padding:3px;
	color:#dedede;
	margin:0 auto;
	width:450px;
	font-size:9px;
	height:50px;
	overflow:auto;
	border:1px solid #666;
}

.autodel
{
	color:#FFCC00;
}

.cell-plugin
{
	height: 33px;
	width: 139px;
	font-family: "Tahoma";
	font-size: 11px;
        font-weight:bold;
	color: #FFFFFF;
	text-align: center;
	line-height: 27px;
	background: url(battan.png);
	background-position: center;
	background-repeat: no-repeat;
}

.button-auto
{
	height: 23px;
	width: 105px;
	margin-bottom: 1px;
	margin-top: 1px;
	font-family: "Tahoma";
	font-size: 10px;
	color: #FFAD00;
	text-align: center;
	border: 0px solid;
	background: #17668C url(battan.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

/* The progressbar for upload and download, including the outer div holder */
.progressouter
{
	border:1px solid #FFFFFF; width:300px; height:10px;
}

.progressdown
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

.progressup
{
	background-color:#FFFFFF;
	width:0%;
	height:8px;
	margin: 1px;
}

/* The "new-and-improved" tabs xD */

.selected
{
	background-color: #85cbeb !important;
}

.cell-nav
{
	height: 33px;
	width: 139px;
	font-family: "Tahoma";
	font-size: 11px;
	font-weight:bold;
	color: #FFFFFF;
	text-align: center;
	background: url(battan.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.powered {
	font-family: Arial;
	color: #00a1c3;
	font-size: 10px;
	line-height: 14px;
	font-weight:bold;
}
.copyright {
	font-family: Arial;
	line-height: 14px;
	color: #00a1c3;
	font-size: 12px;
	font-weight:bold;
}
.copyright a {
	color: red;
	TEXT-DECORATION: none;
}
#links {
outline: none;
transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
-webkit-transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
-moz-transition: box-shadow 0.3s ease-in-out, background-image 0.5s ease-in-out;
border-radius: 5px;
border: #D0D0D0 2px solid;
}
#blkinfo {
opacity:0.9;
bottom:0;
position:fixed;
background: #000;
margin-top: 70px; 
padding: 5px;
width: 100%;      
box-shadow: 0 0 20px 3px #000;
}
.blkdownbutton {
display: inline-block;
padding: 5px 15px;
border-radius: 4px;
border: 1px solid #e6e9eb;
text-transform: uppercase;
font-weight: 700;
background-color: #D7ECFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #40688B;
background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#000102));
background-image: -webkit-linear-gradient(top, #0088cc, #000308);
background-image: -o-linear-gradient(top, #0088cc, #0044cc);
background-image: linear-gradient(to bottom, #FFFFFF, #939FB8);
background-repeat: repeat-x;
border-color: #FFFFFF #FFFFFF #FFFFFF;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
input {
font-family: "Segoe UI", Tahoma;
font-size: 11px;
}